@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Chakra+Petch&family=Shantell+Sans:ital,wght@1,300&display=swap');
/*
font-family: 'Chakra Petch', sans-serif;
font-family: 'Shantell Sans', cursive;
font-family: 'Caveat', cursive;

*/
body{
    display: flex;
    justify-content: center;
    background: #EFD5C9;
}
main{
    
    width: 60%;
    
    

}
main .contenedor{
    display: flex;
    justify-content: center;
    
    background: #EFD5C9;
    margin: 1em;
}

.contenedor img{
    width: 200px;
    
}
.contenedor p{
    font-family: 'Shantell Sans', cursive;
}
button a{
    text-decoration: none;
    
}
